{% include "headitem.html.twig" with {title: "SYSREQ_MAIN_TITLE"|translate} %}

{% if readonly %}
    {% set readonly = "readonly disabled" %}
{% else %}
    {% set readonly = "" %}
{% endif %}

<form autocomplete="off" name="transfer" id="transfer" action="{{  oViewConf.getSelfLink()|raw  }}" method="post">
    {{  oViewConf.getHiddenSid()|raw  }}
    <input type="hidden" name="oxid" value="{{  oxid  }}">
    <input type="hidden" name="cl" value="FcwlopTransactionLog">
</form>

{% if oxid == '-1'  %}

{{ translate({ ident: "FCWLOP_NO_REQUESTLOG" }) }}

{% else %}

    {% set transaction = edit.getTransactionArray() %}

    <table style="width: 100%;">
        <tr>
            <td style="vertical-align: top;width: 50%;">
                REQUEST:<br>
                {% if transaction != false and transaction.request != false %}
                    <table style="border: 1px solid #C8C8C8;">
                        {% set blWhite = "" %}
                        {% for key, entry in transaction.request %}
                            {% set listclass = 'listitem' ~ blWhite %}
                            <tr>
                                <td class="{{  listclass }}">{{ key|raw }}</td>
                                <td class="{{  listclass }}">{{ entry|raw }}</td>
                            </tr>
                            {% if blWhite == "2" %}
                                {% set blWhite = "" %}
                            {% else %}
                                {% set blWhite = "2" %}
                            {% endif %}
                        {% endfor %}
                     </table>
                {% endif %}
            </td>
            <td style="vertical-align: top;width: 50%;">
                RESPONSE:<br>
                {% if transaction != false and transaction.response != false %}
                    <table style="border: 1px solid #C8C8C8;">
                        {% set blWhite = "" %}
                        {% for key, entry in transaction.response %}
                            {% set listclass = 'listitem' ~ blWhite %}
                            <tr>
                                <td class="{{  listclass }}">{{ key|raw }}</td>
                                <td class="{{  listclass }}">{{ entry|raw }}</td>
                            </tr>
                            {% if blWhite == "2" %}
                                {% set blWhite = "" %}
                            {% else %}
                                {% set blWhite = "2" %}
                            {% endif %}
                        {% endfor %}
                    </table>
                {% endif %}
            </td>
        </tr>
    </table>

{% endif %}

{% include "bottomnaviitem.html.twig" %}

{% include "bottomitem.html.twig" %}
